.idea
_book/
core/dnsmasq/dnsmasq.conf
core/traefik/acme/acme.json
core/traefik/certs/*.crt
core/traefik/certs/*.pem
core/traefik/certs/*.key
genv.env.sh
genv.boot.sh
services/custom
vendor/
vendor
.genv/
plugins.txt
_kcov
.env.sh