.idea
_book/
core/dnsmasq/dnsmasq.conf
core/traefik/acme/acme.json
core/traefik/certs/*.crt
core/traefik/certs/*.pem
core/traefik/certs/*.key
harpoon.env.sh
harpoon.boot.sh
services/custom
vendor/
.harpoon/
plugins.txt
_kcov