sudo: required

services:
  - docker

env:
  REPOSITORY=wheniwork/harpoon
  BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  REF=${TRAVIS_TAG:-$BRANCH}
  TAG=${REPOSITORY}:${REF}

before_install:
  - uname -a && lsb_release -a
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get install linux-image-extra-virtual
  - sudo apt-cache madison docker-ce
  - sudo apt-get -y install docker-ce=17.09.1~ce-0~ubuntu
  - sudo service docker restart
  - sudo docker info
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

install:
  - make build

script:
  - make test-dind

after_success:
  - make deploy

after_failure:
  - docker logs dind-kcov-bats

after_script:
  - make clean
