#COMPOSE_PROJECT_NAME=genv
#CONSUL_HOSTS=consul.genv.com
#DEPLOY_ENV=development
#DNSMASQ_HOSTS=dnsmasq.genv.com
#
#GENV_DOMAIN=genv.com
#GENV_IMAGE=koinotice/genv

export GENV_DNSMASQ_IP=127.0.0.1


#CONSUL_HOSTS=consul.genv.com

export GENV_CONSUL_IP=127.0.0.1

#TRAEFIK_HOSTS=traefik.genv.com

export GENV_TRAEFIK_IP=127.0.0.1

#TRAEFIK_HTTPS_PORT=443
#TRAEFIK_HTTP_PORT=80


export MYSQL_ROOT_PASSWORD=root

export MARIADB_ROOT_PASSWORD=root

export SS2_PASSWORD=root

export POSTGRES_PASSWORD=root

export NOTEBOOK_PASSWORD=root
